@model ControleFrota.MDL.Models.Veiculo

@{
    ViewData["Title"] = "Detalhes do Veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes do Veículo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chassi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPassageiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPassageiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
    </dl>
</div>
